/* Start Variables */
:root {
    --main-color: #00c7fc;
    --transparent-color: rgb(15 116 143 / 70%);
    --shape-color: #1f2021;
    --paragraph-color: #77777798;
    --services-padding: 100px;
}
/* End Variables */

/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 63px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Component */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 38px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    background-color: var(--shape-color);
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--shape-color);
    bottom: -32px;
    background-color: #FFF;

}
.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    line-height: 2;
    color: var(--paragraph-color);
    max-width: 100%;
}
/* End Component */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    background-color: #ffffff;
    opacity: 0.302;
}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu {
    color: #FFF;
    font-size: 22px;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    header nav .toggle-menu:hover + ul li a {
        display: flex;
    }
}
header nav ul li a {
    padding: 20px 15px;
    text-decoration: none;
    color: #FFFF;
    font-size: 14px;
    /* transition: 0.3s; */
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid #FFF;
}
header nav .form i {
    color: #FFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */

/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: #FFF;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width: 768px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 30px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
}
@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}
.landing .fa-angle-left {
    left: 30px;
    cursor: pointer;
}
.landing .fa-angle-right {
    right: 30px;
    cursor: pointer;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
    padding-top: var(--services-padding);
    padding-bottom: var(--services-padding);
}

.services .srv-container .srv-box {
    display: flex;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    .services .srv-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 40px;
}
    .services .srv-container .srv-box {
        width: calc(50% - 30px);
    }
}
.services .srv-container .srv-box i {
    margin-right: 40px;
    margin-top: 14px;
    font-size: 24px;
}
@media (max-width: 767px) {
    .services .srv-container .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .services .srv-container .srv-box i {
        margin: 0 0 30px;
    }
}
.services .srv-container .srv-box h2 {
    color: var(--main-color);
    font-weight: normal;
    margin-bottom: 20px;
}
.services .srv-container .srv-box p {
    color: var(--paragraph-color);
    line-height: 2;
}
/* End Services */
/* Start Design */
.design {
    padding-top: var(--services-padding);
    padding-bottom: var(--services-padding);
    background-image: url('../images/design-features.jpg');
    background-size: cover;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image img {
    position: relative;
    bottom: -140px;
}
@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}
.design .text {
    color: #FFF;
    background-color: var(--transparent-color);
    padding: 50px;
    position: relative;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.design .text h3 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 30px;
}
.design .text ul li {
    padding: 15px 0;
}
.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\e163';
    font-weight: 600;
    margin-right: 15px;
    position: relative;
    top: 1px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--services-padding);
    padding-bottom: var(--services-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio .shuffle li {
    padding: 15px 25px;
    text-transform: uppercase;
    cursor: pointer;
}
.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: #FFF;
}
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1) ;
}
@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        width: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        width: 25%;
    }
}
.portfolio .imgs-container .box img {
    width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
    padding: 20px;
    position: absolute;
    left: 0;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
    background-color: #FFF;
}
.portfolio .imgs-container .box .caption h3 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
    font-weight: 600;
}
.portfolio .link {
    background-color: var(--main-color);
    color: #FFF;
    padding: 10px 30px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
    overflow: hidden;
}
.video::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: var(--transparent-color);
    padding: 40px 0;
    color: #FFF;
}
.video .text h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
}
.video .text p {
    margin-bottom: 40px;
}
.video .text button {
    background: #000;
    color: #FFF;
    padding: 10px 30px;
    text-transform: uppercase;
    border: none;   
}
/* End Video */
/* Start About */
.about {
    padding-top: var(--services-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .about img {
        bottom: -60px;
    margin-top: -60px;
    }
}
/* End About */
/* Start Stats */
.stats {
    padding-top: var(--services-padding);
    padding-bottom: var(--services-padding);
    background-image: url('../images/stats.png');
    background-size: cover;
    position: relative;
    text-align: center;
}
.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.stats .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.stats .container .box {
    position: relative;
    padding: 50px;
    color: #FFF;
    background-color: var(--transparent-color);
}
@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    background: #000;
    border-radius: 50%;
}
.stats .container .box div {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.stats .container .box p {
    font-size: 10px;
}
/* End Stats */
/* Start Our-skills */
.our-skills {
    padding-top: var(--services-padding);
    padding-bottom: var(--services-padding);
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
.our-skills .container > div > h3 {
    text-align: center;
    font-weight: normal;
    margin: 0 0 30px;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    text-align: center;
    line-height: 1.7;
    color: var(--paragraph-color);
    margin-bottom: 50px;
}
.our-skills .container .testimonial .box {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.our-skills .container .testimonial .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 40px;
}
@media (max-width: 776px) {
    .our-skills .container .testimonial .box {
        flex-direction: column;
        text-align: center;
    }
    .our-skills .container .testimonial .box img {
        margin: 0 auto 20px;
    }
}
.our-skills .container .testimonial .box .text {
    line-height: 1.8;
    border-bottom: 1px solid var(--paragraph-color);
}
.our-skills .container .testimonial .box .text p {
    color: var(--paragraph-color);
    text-align: right;
    margin-bottom: 20px;
}
.our-skills .container .testimonial .bullet {
    display: flex;
    justify-content: center;
}
.our-skills .container .testimonial .bullet li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 5px;
}
.our-skills .container .testimonial .bullet li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .container .skills .prog-hold {
    margin-bottom: 30px;
}
.our-skills .container .skills .prog-hold h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}
.our-skills .container .skills .prog-hold .prog  {
    height: 30px;
    background: #CCC;
}
.our-skills .container .skills .prog-hold .prog span {
    position: relative;
    display: block;
    height: 30px;
    background-color: var(--main-color);
}
.our-skills .container .skills .prog-hold .prog span::before {
    content: attr(data-progress);
    position: absolute;
    width: 45px;
    border-radius: 5px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
    right: -24px;
    top: -40px;
}
.our-skills .container .skills .prog-hold .prog span::after {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    top: -14px;
    right: -10px;
}
/* End Our-skills */
/* Start Quote */
.quote {
    padding-top: var(--services-padding);
    padding-bottom: var(--services-padding);
    background-image: url('../images/quote.jpg');
    background-size: cover;
    color: #FFF;
    position: relative;
}
.quote::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.quote .container {
    position: relative;
    text-align: center;
}
.quote .container q {
    font-size: 24px;
    line-height: 1.7;
}
.quote .container q::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f10d';
    font-weight: 600;
    margin-right: 10px;
}
.quote .container q::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f10e';
    font-weight: 600;
    margin-left: 10px;
}
.quote .container span {
    display: block;
    margin-top: 20px;
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--services-padding);
    padding-bottom: var(--services-padding);
    text-align: center;
}
.pricing .plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 60px 0;
}
.pricing .plans .plan {
    text-align: center;
    width: 25%;
    padding: 0 20px;
}
@media (max-width: 767px) {
    .pricing .plans .plan {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .pricing .plans .plan {
        width: 50%;
    }
}
@media (min-width: 991px) {
    .pricing .plans .plan {
        width: 25%;
    }
}
.pricing .plans .plan .head {
    padding: 30px 0;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.pricing .plans .plan span {
    font-weight: 600;
    font-size: 36px;
}
.pricing .plans .plan span::before {
    content: '$';
    position: relative;
    font-size: 14px;
    top: -20px;
    margin-right: 10px;
}
.pricing .plans .plan span::after {
    content: '/MO';
    position: relative;
    font-size: 12px;
    font-weight: normal;
    right: -10px;
}
.pricing .plans .plan ul {
    margin-bottom: 35px;
}
.pricing .plans .plan ul li {
    padding: 15px 0;
    border-bottom: 1px solid var(--main-color);
    width: 50%;
    margin: 0 auto;
    font-size: 14px;    
}
.pricing .plans .plan ul li:last-child {
    width: 100%;
}
.pricing .plans .plan .foot button {
    background-color: #FFF;
    border-color: var(--main-color);
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.pricing .plans .plan .foot button:hover {
    background-color: var(--main-color);
    color: #FFF;
}
.pricing .contact-para {
    font-size: 16px;
    margin-bottom: 20px;
}
.pricing .btn-contact {
    background-color: var(--main-color);
    color: #FFF;
    border: none;
    padding: 10px 25px;
}
/* End Pricing */